/* intuitivnější box-sizing pro všechny prvky na stránce */
html { box-sizing: border-box; }
*, ::before, ::after { box-sizing: inherit; }

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #FAFAFA;
    color: #8B8B8B;
    margin: 0;
    padding-bottom: 60px;
    padding-top: 60px;
}

h1 {
   margin-top: 40px;
   font-weight: 500;
   font-size: 28px;
   text-align: center;
   color: #000000;
}

p {
    text-align: center;
    margin: 0;
}

.box {
    display: flex;
    padding: 20px;
    background-color: white;
    margin: 40px 20px 0 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px #407BFF1F;
    font-size: 13px;
    align-items: center;
}

.tlacitko {
    display: block;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    padding: 10px 30px;
    border: 0;
    border-radius: 20px;
    font-size: 14px;
    color: #FFFFFF;
}

.tlacitko1 {
    margin-top: 30px;
}


.uvodni-fotka {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.tlacitko1 {
    background-color: #407BFF;
}

.tlacitko2 {
    background-color: #8B8B8B;
}

h2 {
    margin-top: 60px;
    text-align: center;
    margin-bottom: 15px;
    font-size: 16px;
    font-weight: 500;
    color: #000000;
}

.ikona {
    margin-right: 25px;
}


@media screen and (min-width: 640px) {
    .tlacitko-kontejner {
        display: flex;
        justify-content: center;
    }

    .tlacitko {
        margin: 0;
        margin-top: 30px;
    }

    .tlacitko1 {
        margin-right: 20px;
    }

    .ck-info {
        display: flex;
        justify-content: center;
    }

    .delegati-info {
        display: flex;
        justify-content: center;
    }

    /* Zde je trochu nepřesnost. Pokud si najedu v grafickém návrhu na textové pole a změřím si jeho odstup od dolního konce boxu, změřím těch 20px, které tu mám nastavené. Podle mě má ale v tom grafickém návrhu textové pole jeden řádek navíc (= textové pole je výrazně vyšší, než je výška těch 2 řádků textu, co v něm jsou). */

    .box {
        flex-direction: column;
        flex: 1 1 calc((100% / 3) - 80px);
        margin-right: 0;
        padding: 40px 15px 20px 15px;
    }

    .ikona {
        width: 50px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 20px;
    }

    .info3,
    .info6 {
        margin-right: 20px;
    }

    .text {
        width: 550px;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }


}

@media screen and (min-width: 1100px) {
    body {
        padding: 60px 0px;
    }

    .uvod {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .uvod,
    .sluzby-kancelare,
    .sluzby-delegatu {
        width: 1040px;
        margin-left: auto;
        margin-right: auto;
    }

    .leva-cast-uvodu {
        order: 1;
        flex-wrap: wrap;
        flex-basis: 490px;
        flex-grow: 0;
        flex-shrink: 1;
    }

    .prava-cast-uvodu {
        order: 2;
        flex-basis: 490px;
        flex-grow: 0;
        flex-shrink: 1;
        align-items: center;
    }

    .leva-cast-uvodu h1 {
        text-align: left;
    }

    .leva-cast-uvodu p {
        text-align: left;
        flex: 0 1 490px;
    }

    .tlacitko-kontejner {
        justify-content: left;
    }

    .uvodni-fotka {
        max-width: 425px;
    }

    .sluzby-kancelare {
        display: flex;
        margin-bottom: 80px;
        margin-top: 80px;
        justify-content: space-between;
    }

    .text-k-casti {
        width: 430px;
    }

    .kancelar-text {
        order: 2;
        margin-left: 60px;
    }

    .kancelar-text h2,
    .kancelar-text p {
        text-align: left;
    }

    .kancelar-boxy {
        order: 1;
        flex: 0 1 550px;
    }

    .sluzby-delegatu {
        display: flex;
        justify-content: space-between;
    }

    .delegati-text {
        order: 1;
        flex: 0 0 430px;
    }

    .delegati-boxy {
        order: 2;
        flex: 0 1 550px;
    }

    .box {
        flex-basis: calc((100% / 3) - 40px);
        padding: 0;
        padding-top: 40px;
        margin-top: 0;
    }

    .box .ikona {
        align-items: center;
    }

    .ck-info {
        flex-basis: 550px;
    }

    .delegati-text p {
        text-align: left;
    }

    .delegati-text h2 {
        text-align: left;
    }

    .delegati-info .box {
        flex-grow: 0;
    }

    .info1 {
        margin-left: 0;
    }

    .info3 {
        margin-right: 0;
    }

    .info4 {
        margin-left: 0;
    }

    .info6 {
        margin-right: 0;
    }

    .box p {
        margin: 0 15px 40px 15px;
    }

}